
[Unit]
Description=tests skipole framework functions
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/bernard/www/skitest/code/skitest.py

User=bernard

Restart=on-failure

# Connects standard output to /dev/null
StandardOutput=null

# Connects standard error to journal
StandardError=journal

[Install]
WantedBy=multi-user.target

